<div
  class="text-center text-success display-4"
  style="font-family: 'Rubik Moonrocks', cursive"
>
  {{ rxTime | date: "hh:mm:ss a" }}
</div>
<br /><br />
<div
  class="panel panel-primary text-center"
  style="font-family: 'Rubik Moonrocks', cursive; color: green"
>
  <div class="panel-heading">
    {{ Name }}
  </div>
  <div class="panel-body" style="color: green">
    <div class="table-responsive">
      <table class="table" style="color: green">
        <thead>
          <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Cast</th>
            <th>Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <td>{{ movie.title }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.cast }}</td>
            <td>{{ movie.releaseDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
