<div>
  <h3 class="oop">Hello {{ title }}</h3>
</div>
<div class="oo" *ngIf="check()">
  <p *ngFor="let itr of items; let i = index">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, est a!
    Veniam recusandae totam vero qui nesciunt eius fugit cum atque officia
    repellendus incidunt, veritatis fugiat dolores nostrum praesentium omnis.
    <span style="color: red"></span>
  </p>
</div>
<app-user></app-user>
<!-- <app-header-cmp></app-header-cmp> -->

<!-- <app-login *ngIf="check()"></app-login>
<app-clock></app-clock> -->
<!-- <app-clock></app-clock> -->
<!-- <app-counter></app-counter> -->
