@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.oop {
  text-align: center;
  color: green;
  font-family: "Lobster Two", cursive;
}
.oo {
  text-align: center;
  color: green;
  font-family: "Lobster Two", cursive;
}
